.venv
.zed
.ropeproject
uv.lock
__pycache__
src-mnist
data/fastmri
data/mnist
data/*csv
data/*npz
notes/*.md
notes/*.txt
src/.ipynb_checkpoints
src/__pycache__
experimenting/.ipynb_checkpoints
experimenting/__pycache__